<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="register-container">
        <h1>Register</h1>
        <form th:action="@{/registerUser}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="encrypted_password">Password:</label>
            <input type="password" id="encrypted_password" name="encrypted_password" required>
            <br>



            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>+