<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Festival Ticket Sales</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <h1>Food Festival Ticket Sales</h1>
        <p>Join us for a gastronomic journey!</p>
    </header>

    <div class="hero-image">
        <div class="hero-text">
            <h2>Welcome to the Food Festival</h2>
            <p>Indulge in a culinary adventure like no other</p>
            <a href="/add" class="btn">Get Your Tickets</a>
        </div>
    </div>

    <section class="event-info">
        <h2>Event Information</h2>
        <p>Date: October 15-17, 2023</p>
        <p>Time: 10:00 AM - 8:00 PM</p>
        <p>Location: Central Park, New York City</p>
        <h3>About the Festival</h3>
        <p>Join us for the most anticipated food festival of the year. Explore a world of flavors, savor delectable dishes from top chefs, and enjoy live music and entertainment. It's a feast for the senses you won't want to miss!</p>
    </section>

    <nav>
        <ul>
			<li><a href="/register">Register on the platform</a></li>
            <li><a href="/add">Add Tickets</a></li>
            <li><a href="view.html">View Tickets</a></li>
        </ul>
    </nav>

    <footer>
        <p>2023 Food Festival. All rights reserved.</p>
    </footer>
</body>
</html>
